<meta charset="utf-8" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta
  name="google-site-verification"
  content="SwJ-c4JS67lh7pB9f5w1XUFIRncxY_oz2ALS46ofi-o"
/>
<link rel="stylesheet" href="public/index.css" />
<link
  rel="stylesheet"
  href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"
/>

<script src="public/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<script src="public/index.js"></script>

<title>南佐测试</title>
