<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header'); -%>
  </head>
  <body>
    <div class="aJumpaJumpCan">
      <a class="aJump" href="/indexPage">客户编号比对</a>
      <a class="aJump" href="/indexProduct">产品编号比对</a>
      <a class="aJump" href="/indexCompose">食享订单导入</a>
    </div>
  </body>
</html>
