<ul class="menusCan">
  <li>
    <a class="aJump <%= order==='3'?'nowThis':'' %>" href="/indexProduct"
      >产品编号比对</a
    >
  </li>
  <li>
    <a class="aJump <%= order==='2'?'nowThis':'' %>" href="/indexCompose"
      >食享订单导入</a
    >
  </li>
</ul>
